

.container {
text-align: center;
margin: auto; 
margin-top: 12%;


}
h2 {
	text-align: center;
	padding-bottom: 123px;
	text-transform: uppercase;
}
p {
	margin-top: 30px;
} 

  

